<div>  
<h4>Wedding</h4>

<div>Invited Guests: {{wedding.invited}}</div>
<div>Accepts: {{wedding.accepts}}</div>
<div>Regrets: {{wedding.regrets}}</div>
<div>No Response: {{wedding.noresponses}}</div>
<br />
<h5>Meals</h5>

</div>
<br />
<div>
<h4>Rehearsal Dinner</h4>

<div>Invited Guests: {{rehearsal.invited}}</div>
<div>Accepts: {{rehearsal.accepts}}</div>
<div>Regrets: {{rehearsal.regrets}}</div>
<div>No Response: {{rehearsal.noresponses}}</div>
<br />
<h5>Meals</h5>
</div>
